@import url('https://fonts.googleapis.com/css?family=Play&display=swap');
body {
  margin: 0;
  font-family: 'Play', sans-serif !important;
}


@media (min-width:1200px){
  .nav-justified .nav-item {

    text-align: right !important;
    margin-right: 20px !important;
  }
  
}

.nav-item a:hover {
  color:#1B1B1B !important
}